s#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*가운데로 보내줌*/
    width: 450px;
    height: 450px;
    border: 2px black solid;
}

#title {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

input {
    position: absolute;
    width: 80%;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
}

input#id {
    top: 200px;
}

input#pw {
    top: 250px
}

input#button {
    top: 330px;
}